DEBUG= 1
SECRET_KEY = <sua palavra secreta>
DJANGO_ALLOWED_HOSTS= <hosts permitidos do django>
SQL_ENGINE = django.db.backends.postgresql
SQL_DATABASE = <nome do seu banco>
SQL_USER= <usuario sql>
SQL_PASSWORD= <senha do sql>
SQL_HOST= db
SQL_PORT = 5432